<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetIndexPageController</servlet-name>
        <servlet-class>controller.GetIndexPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewsInfoPageController</servlet-name>
        <servlet-class>controller.GetNewsInfoPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchPageController</servlet-name>
        <servlet-class>controller.GetSearchPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetIndexPageController</servlet-name>
        <url-pattern>/getindexpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewsInfoPageController</servlet-name>
        <url-pattern>/newsinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSearchPageController</servlet-name>
        <url-pattern>/getsearchpage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
